<div>
  <% @test.questions.each do |quest| %>
    <p>
      id: <%= quest.id %> - body: <%= quest.body %>,  <%= link_to "Delete", quest, method: :delete,
                                                                  data: {confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>