<p>Test: <%= @question.test.title %></p>

<p>Question <strong><%= @question.body %></strong>
  <div>
    <%= link_to "Delete", question_path, method: :delete,
                data: {confirm: "Are you sure?"} %>
  </div>
</p>